<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, followings_user_path(user)%></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user)%></th>
  </tr>
</table>

<div class='row'>
  <% if user == current_user%>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <%end%>
  <%elsif user.is_followed_by?(current_user)%>
      <%=link_to user_relationships_path(user), method: :delete do%>
        <bottun class = "btn btn-info">フォロー外す</bottun>
      <%end%>
  <%else%>
      <%=link_to user_relationships_path(user), method: :post do%>
        <bottun class = "btn btn-success">フォローする</bottun>
      <%end%>
  <% end %>
</div>